[user]
    name = beka birhanu
    email = beka.b.atomsa@gmail.com

[init]
    defaultBranch = main

[core]
    editor = nvim
    autolf = true
    safecrlf = true
    pager = delta

[alias]
    lg = log --oneline --graph --decorate --all
    df = diff --color-words

[color]
    ui = auto

[interactive]
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    side-by-side = true
    dark = true
    syntax-theme = "Catppuccin Mocha" 
    navigate = true
    features = "decorations,side-by-side"
    minus-style = "pink"   
    plus-style  = "green"
    commit      = "cyan"
    file        = "yellow"

[push]
    default = simple

[merge]
    tool = vimdiff
    conflictstyle = diff3

[commit]
    gpgSign = false

[credential]
    helper = cache --timeout=3600

[diff]
    tool = vimdiff

[rebase]
    autoStash = true

[url "git@github.com:"]
    insteadOf = https://github.com/

