[user]
    name = beka birhanu
    email = beka.b.atomsa@gmail.com

[init]
    defaultBranch = main

[core]
    editor = nvim
    autolf = true
    safecrlf = true

[alias]
    lg = log --oneline --graph --decorate --all
    df = diff --color-words

[color]
    ui = auto

[push]
    default = simple

[merge]
    tool = vimdiff
    conflictstyle = diff3

[commit]
    gpgSign = false

[credential]
    helper = cache --timeout=3600

[diff]
    tool = vimdiff

[rebase]
    autoStash = true

[url "git@github.com:"]
    insteadOf = https://github.com/

