[user]
	name = beka birhanu
	email = beka.b.atomsa@gmail.com

[init]
	defaultBranch = main

[core]
    editor = nvim                            # Default editor for Git commands (can be 'nano', 'vim', 'code', etc.)
    autocrlf = input                         # Auto-conversion of line endings: 'input' for Unix-style, 'true' for Windows
    safecrlf = true                          # Prevent committing files with mixed line endings

[alias]
    log = log --oneline --graph --decorate --all  # 'git lg' gives a concise log with a graphical representation
    diff = diff --color-words                   # 'git df' shows colorized diff with words instead of lines

[color]
    ui = auto                                # Automatically colorize git output

[push]
    default = simple                         # Push to the current branch by default

[merge]
    tool = vimdiff                           # Default merge tool
    conflictstyle = diff3                    # Use three-way diff when conflicts occur

[commit]
    gpgSign = false                          # Set to true if you want to sign commits with GPG

[credential]
    helper = cache --timeout=3600            # Store credentials in memory for 1 hour

[diff]
    tool = vimdiff                           # Default diff tool

[rebase]
    autoStash = true                         # Automatically stash changes before a rebase

[url "git@github.com:"]
	insteadOf = https://github.com/
